numpy==2.1.2
pandas==2.2.3
scipy==1.14.1
scikit-learn==1.5.2
tensorflow==2.20.0
matplotlib==3.9.2
seaborn==0.13.2
jupyter==1.1.1
imbalanced-learn==0.14.0
joblib==1.4.2
PyWavelets==1.9.0
fastapi==0.123.5
uvicorn==0.38.0
python-multipart==0.0.20
python-jose==3.5.0
passlib==1.7.4
sqlalchemy==2.0.44
pydantic==2.12.5
requests==2.32.4
keras==3.12.0
